@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    min-height: 100vh;
    margin: 0;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    
    &.lg-heading {
        font-size: 6rem;
        text-shadow: 3px 3px 10px #00000060;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: #00000060;
        box-shadow: 2px 2px 4px 0px #00000060;
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4em;
            display: inline-block;
            i {
                text-shadow: 3px 3px 10px #00000060
            }

            &:hover {
                color: $secondary-color;
                // @include easeOut();
                transform: translateY(-2px);
                transition-duration: .2s;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'sm-heading sm-heading sm-heading'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 7);
        padding: 0.8rem;
        border-bottom: $secondary-color 5px solid;
    }
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';
