body {
  text-align: center;
  background: url("hmk1.jpg");
  background-size: cover;
  color: white;
}
/*div {
  border: 1px solid white;
}*/
.dp {
  height: 200px;
  width: 100%;
  padding-top: 0px;

}
img {
  max-width: 100%;
  max-height: 100%;
}
h1 {
  line-height: 80px;
  font-family: Helvetica Neue;
  font-size: 80px;
}

p {
  line-height: 0px;
  font-family: Helvetica Neue;
  font-size: 30px;
}
li {
  display: inline;
  margin-left: 50px;
}
li:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
