body {
  text-align: center;
  /* background: url("hmk1.jpg"); */
  /* background-size: cover; */
  font-family: 'Muli', sans-serif;
  color: black;
}
div {
  width: 100%;
}
.dp {
  min-height: 200px;
  padding-top: 0px;

}
img {
  max-width: 100%;
  max-height: 100%;
}
h1 {
  line-height: 80px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Neue; */
  font-size: 80px;
}

p {
  /* line-height: 10px; */
  /* font-family: 'Courier New', Courier, monospace Neue; */
  /* font-size: 30px; */
}
ul {
  padding-inline-start: 0;
}
li {
  display: inline;
  margin-left: 10px;
}
li:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
a {
  /* text-decoration: none; */
  /* color: black; */
}
a:hover{
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 0, 0, 0.5);
}

li img {
  -webkit-filter: invert(1);
  filter: invert(1);
  }